@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
background: url("/img/bg.jpg");
background-repeat: repeat;
font-family: 'Source Sans Pro', sans-serif;
}
h1{ 
font-size: 1.3em;
}
h2{ 
font-size: 1.2em;
}
h3{ 
font-size: 1.1em;
}
h4{ 
font-size: 1.0em;
}
input{
border: none;
background: whitesmoke;
}
div#header{
background: url("/img/header.png");
background-repeat: no-repeat;
position: fixed;
top: 0px;
height: 177px;
width: 99%;
}
div#header.right{
background: url("/img/header_right.png");
background-repeat: no-repeat;
background-position: right top;
position: fixed;
top: 0px;
height: 177px;
width: 99%;
}
div#login-section{
width: 30%;
min-width: 300px;
}
div#login-section input{
float: right;
}
div#login-section label{
float: left;
clear: both;
}
div#login-section button {
float: right;
clear: both;
}
div#menu{
background: url("/img/menu.png");
background-repeat: repeat;
bottom: 6px;
position: fixed;
height: 24px;
width: 99%;
}
div.menu-content {
    display: flex;
    justify-content: space-between;
}
div.menu-field {
    margin: 0px 10px;
    font-size:18px;
}
#menu > div > div:nth-child(1) > a {color: #000;text-decoration: none;}
#menu > div > div:nth-child(2) > a {color: #FFF;text-decoration: none;}
#menu > div > div:nth-child(3) > a {color: #000;text-decoration: none;}
#menu > div > div:nth-child(4) > a {color: #FFF;text-decoration: none;}
#menu > div > div:nth-child(5) > a {color: #000;text-decoration: none;}
#menu > div > div:nth-child(6) > a {color: #FFF;text-decoration: none;}
#menu > div > div:nth-child(7) > a {color: #000;text-decoration: none;}
#menu > div > div:nth-child(8) > a {color: #FFF;text-decoration: none;}
div#content{
    width:100%;
    margin-top: 182px;
}
div.main-content {
    width: 768px;
    margin: auto;
}
div#register-section{
margin:auto;
margin-top:200px;
margin-left:100px;
width:50%;
text-align:right;
}
